<div class="container">
            <h2>Create New Order</h2>
            <form action="/store" method="POST">
                 <div class="form-group">
                   
                   
                    <label for="name">Customer Id</label>
                    <input type="text" class="form-control" name="customer_id" value="">

                    <label for="name">Fabric Id</label>
                    <input type="text" class="form-control" name="fabric_id" value="">


                    <label for="name">Collar Size</label>
                    <input type="text" class="form-control" name="collar_size" value="">

                    <label for="name">Chest Size</label>
                    <input type="text" class="form-control" name="chest_size" value="">

                    <label for="name">Waist Size</label>
                    <input type="text" class="form-control" name="waist_size" value="">

                    <label for="name">Wrist Size</label>
                    <input type="text" class="form-control" name="wrist_size" value="">
                   
                </div>

                    
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    